/* body{
    background-color:rgb(227, 252, 249);
} */

body {
    padding-top: 100px;
}


.navbar-brand img {
    width: 12em;
}

.row .col-6 .card:hover {
    opacity: 0.2;
    cursor: pointer;

}

#text-album {
    opacity: 0;
    color: black;
}

#text-album:hover {
    opacity: 1;
    background: rgba(44, 35, 196, 1);
    filter: brightness(350%);


}





html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;

}